@charset "utf-8";
/* CSS Document */

body {
	background-image:url(fond.jpg);
	background-size:cover;
}

.carte{
	height:300px;
	width : 200px;
	margin:10px;
	top : 10px;
	position: relative ;
	display: inline-block;
	background-size:contain;
	background-repeat: no-repeat;
	background-color:transparent;
	margin-top: 40px;
}

.carte:active {
	height:90%;
	width: 80%;
	position : absolute;
	left: 0;
	top : 0;
	z-index: 2;
	}
	



.first{
position : absolute;
left:5px;

}

.second{
position : absolute;
left : 80px;
}

.third{
position : absolute;
left : 120px;
}


h1{
	position : fixed;
	left: 50vw;
    transform: translateY(-50%) translateX(-50%);
	color:#FF9;
	font-size:40px;
	font-family: "CFFarWest Regular";
	font:"CFFarWest Regular";
}